@media only screen and (max-width:768px) {
    .navbar__nav a{
        display: none;
    }
    .banner {
        display: grid;
        grid-template-columns: 100%;
        gap: 3rem;

    }
    .banner__content h1{
        font-size: 1rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    .about__content{

  
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .admission__content{

        display: grid;
        grid-template-columns: 1fr;
        
    }
    .whyus__content{

        display: grid;
        grid-template-columns: 1fr;
    } 
    .contactus__content{

        display: grid;
        grid-template-columns: 1fr;

    }
    .testimonial__content{

        display: grid;
        grid-template-columns: 1fr;
    }
     .leg__group{

        display: grid;
        grid-template-columns: 1fr;
    }

}