*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
body {
    line-height: 1.4;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.container {
    max-width: 90%;
    margin: 0 auto;

}
.header{
    width: 100%;
    height: 100%;
    background-color: #E8BD10;
}
.navbar{
    width: 90%;
padding: 4rem, 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.navbar a{
    font-size: 1.4rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-right: 15px;

}
.navbar .navbar__logo a{
    font-size: 2.7rem;
    font-weight: 900;

}
.banner{
    width: 90%;
    padding: 4rem, 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
 .banner .item h1{

    font-size: 3.5rem;
    color: rgb(255, 255, 255);  
}

button{
    padding: 7px 15px ;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 20px;
    border: 0;
    background-color: rgb(210, 208, 208);
    transition: all 0.5s linear;
}
button:hover{
    background-color: #635418 ;
    color: rgb(255, 255, 255);

}
.hero{
    height: 50vh;
}





.about{
    width: 100%;
    padding: 4rem, 0;
}
.about__content{
    padding: 4rem, 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    text-align: right;
   
}
.about__content .item h2{
    font-size: 3rem;
    margin-bottom: 12px;
}
.about__content .item p{
    font-size: 1.3rem;
    font-weight: 550;
}
.about__content .item button{
    font-size: 1.4rem;
}






.admission{
    width: 100%;
    padding: 4rem, 0;
}
.admission__content{
    padding: 4rem, 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    text-align: left;
   
}
.admission__content .item h2{
    font-size: 3rem;
    margin-bottom: 12px;
}
.admission__content .item p{
    font-size: 1.3rem;
    font-weight: 550;
}
.admission__content .item button{
    font-size: 1.5rem;
}





.whyus{
    width: 100%;
    padding: 4rem, 0;
}
.whyus__content{
    padding: 4rem, 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    text-align: right;
}
.whyus__content .item h2{
    font-size: 3rem;
    margin-bottom: 12px;
}
.whyus__content .item p{
    font-size: 1.3rem;
    font-weight: 550;
}
.whyus__content .item button{
    font-size: 1.4rem;
}









.contactus{
    width: 100%;
    padding: 4rem, 0;
}
.contactus__content{
    padding: 4rem, 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    text-align: left;
   
}
.contactus__content .item h2{
    font-size: 3rem;
    margin-bottom: 12px;
}
.contactus__content .item p{
    font-size: 1.3rem;
    font-weight: 550;
}
.contactus__content .item button{
    font-size: 1.5rem;
}










.testimonial{
    width: 100%;
    padding: 4rem, 0;
}
.testimonial__content{
   
    display: grid;
    grid-template-columns:  20% 80%;
    align-items: center;
    gap: 3rem;
    text-align: right;  
   
}
.testimonial__content .item h2{
    font-size: 2.5rem;
}
.testimonial__content .item p{
    font-size: 1.3rem;
    font-weight: 550;
   
}
.testimonial__content .item button{
    font-size: 1.4rem;
}
.testimonial__content .item{
    text-align: left;
   
}
.testimonial .container .title{
    padding: 4rem, 0;
    text-align: center;
    color: black;
    font-size: 2rem;
}







.contact{
    width: 100%;
    padding: 2rem, 0;
   
}
.contact__content{
    padding: 1rem, 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    text-align: left;
}
.contact__content .item h2{
    font-size: 3rem;
    padding-top: 11rem;
}
.contact__content .item p{
    font-size: 1.3rem;
    font-weight: 550;
}
.contact__content button{
    font-size: 1.4rem;
    height: 6vh;
    width: 100%;
}
.contact__content input{
    width: 100%;
    height: 8vh;
    border: 0;
    bottom: 0;
    outline: 0;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.contact__group h1{
    width: 100%;
    font-size: 30px;
    padding-top: 11rem;
    color: rgb(58, 58, 58);
}









.leg{
    width: 100%;
    background-color: #1d1d1d;
}

.leg .container .title h1{
  text-align: center;
  color: rgb(255, 255, 255);
padding-top: 4rem;
font-size: 2.7rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .leg__content{
    width: 100%;
    height: 42vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    margin: 0 auto;
    gap: 4rem;
    color: rgb(255, 255, 255);
    
}
.leg .container .leg__content h2{
    font-size: 1.9rem;
}
.leg .container .leg__content p{
    font-size: 1.2rem;
}
.leg .container .leg__content input{
    width: 90%;
    height: 4.6vh;
    border-radius: 10px;
    text-indent: 10px;
}
.leg .container .leg__content button{
    width: 70%;
    height: 4.5vh;background-color: #E8BD10;
    border-radius: 10px;
}
.icon{
    font-size: 2.9rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    color: rgb(255, 255, 255);
    padding-bottom: 9rem;
    margin: 0 auto;
    border-top: 2px solid #f8f8f8;
    padding: 4rem 0;
    
}






.lower{
    width: 100%;
    height: 9vh;
    background-color: #E8BD10;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;
    padding-top: 1.3rem;
    font-size: 0.9rem;
}


